* {
  margin: 0;
  padding: 0;
}

.line {
  display: flex;
  flex-direction: row;
  height: 45px;
  width: auto;
}

.white,
.black {
  height: 45px;
  width: 45px;
}

.black {
  background-color: black;
}

.game-board {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;

  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.box {
  border: 6px solid #2c3e50;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clickPlay{
  background-color: #34495E;
  color:#34495E;
  cursor: pointer;
			text-indent: -99999px;
			border: none;
			width: 41px;
			height: 42px;
}

